/* navigation section */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 5px;
}

/* home section  */
#home{
    height: 245px;
    padding: 3px 25px
}
#home::before{
    height: 400px;

}
#home p{
    font-size: 15px;
}


/* services section  */
#services{
    flex-direction: column;
    margin: 15px
}
#services .box {
    padding: 14px;
    margin: 3px 6px;
}


/* clients section  */
#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 66px;
    height: auto;
    padding: 2px 6px;
}
.client-item {
    margin: 5px;
    padding: 0px;
}


/* contact us  */
contact-box form{
    width: 80%;
}

/* footer  */


/* utility classes  */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}